.user-actions{
    display: flex;
    align-items: center;
    gap: irem;
}

.cart-icon{
    opacity: 1;
    position: relative;
    padding: 0.5rem;
    background-va
}


.categories{
    padding: 4rem 0;
    background: var(--white)
}

.ategories-grid{
    display: ;
}

}